/**
**
**   VARIABLES
**
**/


@headerWhite:			#fafafa;
@white: 				#fbfbfb;

@grayEE:				#eeeeee;
@grayE0:				#e0e0e0;
@grayEB: 				#ebf2f2;
@grayCC: 				#cccccc;
@grayBC:				#bcbcbc;
@grayAA:				#aaaaaa;
@gray55:				#555555;

@topBarBlack:			#2a2a2a;
@black: 				#272727;

@lightRed: 				#f0877c;

@topBarHeight: 			46px;
@headerHeight:			187px;
@headerNavHeight:		46px;

@containerWidth:		1171px;